{% extends 'base.html.twig' %}
{% block title %}
    Erreur sur le serveur
{% endblock %}
{% block body %}
    <div class="container">
        <div class="alert alert-secondary h4 p-5 ">
            <p class="text-center"><i class="fa fa-stop"></i>
                Problème sur la requête envoyée vers le serveur.
                Veuillez réessayer SVP.
            </p>
            <p class="text-center">
                <a href="{{ path('accueil') }}" class="btn btn-primary">
                    <i class="fa fa-home"></i>  Retourner à la page d'accueil
                </a>
            </p>
        </div>
    </div>
{% endblock %}